@model ApiRestWebClient.Models.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"  } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
           </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DNI, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"  } })
                @Html.ValidationMessageFor(model => model.DNI, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"  } })
                @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"  } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"  } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Basico, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Basico, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"  } })
                @Html.ValidationMessageFor(model => model.Basico, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="white-space: nowrap;">
                @Html.LabelFor(model => model.Ingreso, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Ingreso, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"  } })
                @Html.ValidationMessageFor(model => model.Ingreso, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly"  } })
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
            </div>
            <br />
            <div class="form-group">

                <input type="submit" value="Eliminar" class="btn btn-danger" onclick_="return confirm('Esta Ud. seguro ?');" />
                <a class="btn btn-warning" href="@ViewBag.ReturnUrl">&nbsp;&nbsp;&nbsp;&nbsp;Salir&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

            </div>

        </form>
    </div>
</div>

<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>
-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
